<header>
  <img src="./assets/picture.jfif" />
  EasyShopper
</header>
<ng-container *ngIf="!detection?.detections">
  <webcam [trigger]="trigger$" (imageCapture)="saveImage($event)"></webcam>
  <button (click)="captureImg()">Capture</button>
</ng-container>

<div *ngIf="detection?.detections">
  Detected a {{ detection.detections.labels[0].Label }}
  <p>Price per kg :{{ prices[detection.detections.labels[0].Label] }} USD</p>
  Total KG:
  <input [(ngModel)]="weight" />
  <p>Price: {{ prices[detection.detections.labels[0].Label] * weight || 0 }}</p>
  <button (click)="detection = null">Go Back</button>
</div>
